{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="max-w-2xl mx-auto my-12 py-12 px-8 bg-white rounded-md shadow-md">
    <div class='mb-12 '>
        <button
        class="bg-blue-500 text-white px-2 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
        >
        <a href="
        {% url "edit_profile" %}
        
        ">
        Edit Your Profile
    </a>
        </button>
        <button
        class="bg-blue-500 text-white px-2 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
        >
        <a href="
        {% url "password_change" %}
        
        ">
        Change Profile Password
    </a>
        </button>
    </div>
    <h1 class="text-2xl font-bold mb-8 text-center">Hello, {{ user }}</h1>
    <h2 class="text-3xl font-semibold mb-8 text-center">Your Balance: {{ user.balance }}</h2>

    {% if borrow_history %}
        <h2 class="text-2xl font-semibold mb-8 text-center">Borrow History ({{ borrow_history | length }})</h2>

        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2">User Name</th>
                        <th class="px-4 py-2">Purchase Date</th>
                        <th class="px-4 py-2">Book Title</th>
                        <th class="px-4 py-2">Is Borrowed</th>
                        <th class="px-4 py-2">Price</th>
                        <th class="px-4 py-2">Actions</th>
                        <th class="px-4 py-2">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in borrow_history %}
                        <tr>
                            <td class="px-4 py-2">{{ entry.user }}</td>
                            <td class="px-4 py-2">{{ entry.purchase_date }}</td>
                            <td class="px-4 py-2">{{ entry.book.title }}</td>
                            <td class="px-4 py-2">{{ entry.IsBorrowed }}</td>
                            <td class="px-4 py-2">{{ entry.book.borrow_price }}</td>
                            {%if entry.IsBorrowed%}
                            <td class="px-4 py-2">
                                <a href="{% url 'ReturnBook' entry.id %}" class="text-blue-500 hover:underline">Return Book</a>
                            </td>

                            {% endif %}
                            <td class="px-4 py-2">
                                <a href="#" class="text-blue-500 hover:underline">Already Returned</a>
                            </td>
                            <td class="px-4 py-2">
                                <a href="{% url 'book_detail' entry.book.id %}" class="text-blue-500 hover:underline">Add Comment</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p class="text-gray-500 text-center">No borrow history available.</p>
    {% endif %}
</div>
{% endblock body %}
