{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="max-w-4xl mx-auto my-12 py-12 px-8 bg-white rounded-md shadow-md bg-blue-100">
    <div class='mb-12 flex justify-around'>
        <button
        class="bg-blue-500 text-white px-2 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
        >
        <a href="
        {% url "edit_profile" %}
        
        ">
        Edit Your Profile
    </a>
        </button>
        <button
        class="bg-blue-500 text-white px-2 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
        >
        <a href="
        {% url "password_change" %}
        
        ">
        Change Profile Password
    </a>
        </button>
    </div>
    <h1 class="text-2xl font-bold mb-5 text-center">Hello, <span class='text-green-500 font-bold'>
        {{ user }}
    </span>
</h1>
    <h2 class="text-3xl font-semibold mb-8 text-center text-gray-700">Your Balance Is: $ <span class='font-bold text-red-300'>{{ user.balance }}</span> </h2>

    {% if borrow_history %}
        <h2 class="text-2xl font-semibold mb-8 text-center text-gray-700">Borrow History <span class='bg-yellow-300 rounded-3xl p-1'> ({{ borrow_history | length }})</span></h2>

        <div class="">
            <table class="table w-full">
                <thead>
                    <tr class="bg-blue-500 text-white px-6">
                        <th class="px-4 py-2">User Name</th>
                        <th class="px-4 py-2">Purchase Date</th>
                        <th class="px-4 py-2">Book Title</th>
                        <th class="px-4 py-2">Is Borrowed</th>
                        <th class="px-4 py-2">Price</th>
                        <th class="px-4 py-2">Actions</th>
                        <th class="px-4 py-2">Comments </th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in borrow_history %}
                        <tr class='text-gray-700'>
                            <td class="px-4 py-2 font-semibold text-md">{{ entry.user }}</td>
                            <td class="px-4 py-2 font-semibold text-md">{{ entry.purchase_date }}</td>
                            <td class="px-4 py-2 font-semibold text-md">{{ entry.book.title }}</td>
                            <td class="px-4 py-2 font-semibold text-md">{{ entry.IsBorrowed }}</td>
                            <td class="px-4 py-2 font-semibold text-md">{{ entry.book.borrow_price }}</td>
                            {%if entry.IsBorrowed%}
                                <td class="px-4 py-2">
                                    <a href="{% url 'ReturnBook' entry.id %}" class="text-blue-500 hover:underline font-semibold">Return Book</a>
                                </td>
                            {% else  %}
                                <td class="px-4 py-1 bg-red-100  rounded-xl">
                                    <a href="#" class="text-blue-500 hover:underline font-semibold">Already Returned</a>
                                </td>
                            {% endif %}
                            <td class="px-4 py-2">
                                <a href="{% url 'book_detail' entry.book.id %}" class="text-blue-500 hover:underline font-semibold">Add Comment</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p class="text-gray-500 text-center">No borrow history available.</p>
    {% endif %}
</div>
{% endblock body %}
