{% extends "base.html" %}
{% load static %}
{% block body %}
{% comment %} show books {% endcomment %}
<div class=" py-4 bg-gray-400 flex items-center justify-center">
  <div class="text-center">
    <div class="p-2 bg-white shadow-md rounded-lg">
      <img class="w-40 h-40 mx-auto mb-4" src="{{ object.img.url }}" alt="{{ object.title }}">
      <h3 class="text-lg font-semibold">{{ object.title }}</h3>
      <p class="text-lg font-semibold">{{ object.title }}</p>
    </div>
  </div>
</div>

<div class="container mx-auto p-6 bg-gray-300">
    <h3 class="text-2xl font-semibold mb-4">Comments : {{ comments | length }}</h3>
    <div class="space-y-4">
        {% for comment in comments %}
            <div class="bg-white p-4 rounded-md shadow-md">
                <p class="text-lg font-semibold">{{ comment.name }}</p>
                <p class="text-gray-600">{{ comment.body }}</p>
            </div>
        {% endfor %}
    </div>

    {% comment %} add comment opiton {% endcomment %}
    

</div>

<div class="container mx-auto p-6 bg-gray-300 mt-4">


{% endblock   %}