{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
{% comment %} show books {% endcomment %}
{% comment %} <div class=" py-4 bg-gray-400 flex items-center justify-center">
  <div class="">
    <div class="p-2 bg-white shadow-md rounded-lg">
      <img class="w-40 h-40 mx-auto mb-4" src="{{ object.img.url }}" alt="{{ object.title }}">
      <h3 class="text-lg font-semibold">{{ object.title }}</h3>
      <p class="text-lg font-semibold">{{ object.description }}</p>
    </div>
  </div>
</div> {% endcomment %}

<div class='flex  justify-center  my-12'>
  <div class='flex justify-evenly  border-solid border-2 border-orange-200 w-4/5  bg-white rounded-xl'>
    <div class='border-solid border-2 border-sky-500 p-6 m-5'>
      <img style='width:390px; height:320px' class=" mx-auto mb-4" src="{{ object.img.url }}" alt="{{ object.title }}">
    </div>
    <div class=' pt-12'>
      <a href="#" class="mb-4 text-3xl font-semibold text-gray-800 hover:text-blue-500  leading-10">
        <span class=' text-semibold text-gray-600 font-semibold'>Title  :</span> 
        <span class='text-green-400'>
          {{ object.title }}
 
        </span> 
       </a>
       <p class="text-gray-600 mb-1 text-semibold text-2xl font-semibold">Author : {{ object.author  }}</p>
       <p class="text-gray-600 mb-2 text-semibold text-2xl font-semibold">Price :  
         <span class='text-red-300 font-bold text-2xl'>
 
           $ {{ object.borrow_price }}
         </span>
 
       </p>
       <p class="text-gray-600 mb-4 text-semibold text-xl font-semibold">Category : 
         <span class='bg-yellow-200 rounded-2xl py-1 px-1'>
 
           {{ object.category }}
         </span>
       </p>
       <h3 class="text-2xl text-gray-600 font-semibold mb-4">We Have : {{ comments | length }} Comments</h3>
       <div class='flex'>
        <button class='bg-green-600 hover:bg-green-800 text-md font-bold text-white rounded-xl p-2 border-solid border-2 border-red-200 mr-3'>Read Some Page</button>
        <button  class='bg-blue-600 hover:bg-blue-800 text-md font-bold text-white rounded-xl p-2 border-solid border-2 border-red-200 mx-3'>
          <a href="{% url 'borrow_book' object.id %}">Borrow It</a>

          </button>
       </div>
    </div>
  </div>
</div>

<div class="container mx-auto p-6 bg-blue-100 rounded-xl mb-12">
    <h3 class="text-2xl font-semibold mb-4 text-gray-600">Users Comments : {{ comments | length }}</h3>
    <div class="space-y-4">
        {% for comment in comments %}
            <div class="bg-white p-4 rounded-md shadow-md ">
              <div class='flex'>
                {% comment %} {% if request.user.is_authenticated %}

                  <img class='rounded w-23 h-20' src="https://gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="">
                {% else %}
                  <img class='rounded w-23 h-20' src="/posts/media/uploads/download_3.jpg" alt="User Image">
                {% endif %} {% endcomment %}
                  <div class='pl-6'>
                    <p class="text-xl font-bold text-gray-700 "><span>By :</span> {{ comment.commentor }} <span class='font-semibold'>, at : {{comment.created_on}}</span></p>
                    {% comment %} <p class="text-gray-600">{{ comment.body }}</p> {% endcomment %}
                    <p class='text-green-400 font-semibold pb-3 pt-1'>Verified Purchase</p>
                    <p class="text-gray-600">{{comment.body}}

                    </p>
                    <p class='font-semibold text-gray-700 py-4'>Was this helpfull to your ? <span>
                      <button class='font-semibold text-white bg-green-300 hover:bg-green-400 rounded-md p-1 mx-2'>Yes</button>
                      <button class='font-semibold text-white bg-red-300 hover:bg-red-400 rounded-md p-1 mx-1'>No</button>
                    </span></p>
                  </div>
              </div>
                
            </div>
        {% endfor %}
    </div>

    {% comment %} add comment opiton {% endcomment %}
    
    <div class="bg-white p-4 rounded-md shadow-md  my-6">
      <div class='flex p-4'>
        {% comment %} {% if request.user.is_authenticated %}

          <img class='rounded w-23 h-20' src="https://gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="">
      {% else %}
        <img class='rounded w-23 h-20' src="/posts/media/uploads/download_3.jpg" alt="User Image">
      {% endif %} {% endcomment %}
          
          <div class='pl-6'>
            <h3 class='font-semibold text-2xl text-gray-700 py-2'>
              Hello,
              <span class='font-bold text-blue-500'>

                 {{user}}
              </span>
              <br>
               </h3>
               <h3 class='font-semibold text-xl text-gray-700 pb-2'>
                Write your comments for 
              <span class='font-bold text-blue-700'>
                
                {{ object.title }}
              </span>
               </h3>
            <form method="post" class="">
              {% csrf_token %} 
              <div>
                  {{ comment_form|crispy }}
                  {% if request.user.is_authenticated %}
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue">Submit</button>
                  {% else %}
                  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue">Login To comment</button>
                  {% endif %}
            </form>
          </div>
      </div>
        
    </div>
</div>


{% comment %} add comment {% endcomment %}

{% endblock   %}