{% extends 'base.html' %} 

{% block body %}

<div class="container mx-auto p-2">
    <header class="text-center">
        <h1 class="text-4xl font-bold text-blue-900">Book Universe</h1>
        <p class="mt-2 text-gray-900">Explore a world of books</p>
    </header>

    <main class="mt-8 grid grid-cols gap-8 ">
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xxl font-bold text-gray-800 text-center">All Book is For Learning</h2>
            <p class="text-xl text-gray-600 text-center">Made by : Swapno</p>
            <p class="text-xl mt-2 text-gray-700 text-center">The more you read the more you learn</p>
        </div>
{% endblock %}
