{% extends 'base.html' %} {% block body %}
<div class="mb-5">
  {% comment %}
  <div class="bg-blue-900 text-white py-20">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold mb-4">
        Welcome to Your Library Management System
      </h1>
      <p class="text-lg mb-8">
        Manage your books, borrow and return, all in one place.
      </p>
      <a
        href="#"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >Get Started</a
      >
    </div>
  </div>
  {% endcomment %}
  <div
    class="flex items-center justify-center h-screen bg-cover bg-center backdrop-opacity-50"
    style="
      background-image: url('https://kodeforest.net/html/books/store/images/banner-2.png');
    "
  >
    <div class="z-10 text-center text-white ">
      <h1 class="text-4xl font-bold mb-4">
        Discover the World Through Your Lens
      </h1>
      <p class="text-lg">
        Experience the beauty of nature with our <br />
        premium sunglasses collection. Crafted for style and durability, our
        sunglasses are <br />
        your perfect companion for every adventure.
      </p>
    </div>
  </div>

  <!-- Features Section -->
  <div style="height:800px" class="container mx-auto py-12 px-4 mt-12 flex justify-center items-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 ">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">Complimentary Gift Wrapping</h2>
          <p class="text-gray-600">
            Elevate your gifting experience with our free gift wrapping service.
            Each purchase is carefully encased in our signature blue box,
            adorned with a ribbon of your choice.
          </p>
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">Free Worldwide Shipping</h2>
          <p class="text-gray-600">
            Enjoy complimentary shipping on all orders exceeding $1000. Wherever
            you are, we deliver your purchase to your doorstep with extra
            discounts on international orders.
          </p>
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">
            Hassle-Free Returns & Exchanges
          </h2>
          <p class="text-gray-600">
            Shop with confidence knowing that returns and exchanges are
            hassle-free within 5 days of purchase. Please note that lost or
            damaged items are not eligible for return or exchange.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-12 mb-12 px-4 bg-gradient-to-br from-blue-300 to-blue-400 rounded-lg shadow-xl">
    <h2 class="text-4xl text-center font-bold mb-12 pb-5 text-white">
      BOOK STORE GIFT CARD
    </h2>
  
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class=" rounded-lg shadow-md overflow-hidden">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-4 text-gray-600">ANY OCCASION</h2>
          <p class="text-white">
            The great philosopher Blaise Pascal believed that human misfortune was the result of other people’s inability “to sit quietly in one’s room”.
          </p>
        </div>
        <div class="p-6">
          <h2 class="text-xl font-bold mb-4 text-gray-600">SPECIAL OCCASION</h2>
          <p class="text-white">
            Here are many special occasions in the lives of our friends, family and colleagues, and each offers an opportunity to commemorate the day with a unique and personalised book.
          </p>
        </div>
        <div class="p-6">
          <h2 class="text-xl font-bold mb-4 text-gray-600">CARDS FOR KIDS</h2>
          <p class="text-white">
            The thrill of double war. The excitement of shouting "Gin!" Every kid knows at least a handful of card classics, and every grown up kid remembers the fun of playing them.
          </p>
        </div>
      </div>
      <div class="overflow-hidden">
        <img class='rounded-lg shadow-md h-full'
          src="https://kodeforest.net/html/books/store/images/banner-3.png"
          alt=""
        />
      </div>
    </div>
  </div>
  
</div>
{% endblock %}
